

h1 {
    font-size: 2em!important;
    font-weight: bold!important;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
    margin-bottom: 4em;
}

h2 {
    font-size: 1.5em!important;
    font-weight: bold!important;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
    margin-bottom: 4em;
}

h3 {
    font-size: 1.25em!important;
    font-weight: bold!important;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
    margin-bottom: 4em;
}

p {
    text-align: justify;
}

img {
    display: block;
    margin: 4em auto;
}

ul {
    list-style: inside!important;
}

#content p>a {
    text-decoration: underline!important;     
    text-decoration-color: #1959d8!important;  
}